@import "../../styles/colors.scss";

%flexColumn {
    display: flex;
    flex-direction: column;
}

.surveyListWrap {
    @extend %flexColumn;
    justify-content: space-between;
    min-height: 100vh;
    background-color: $disabled-background;

    .contentWrap {
        @extend %flexColumn;
        align-self: center;
        width: 100%;
        max-width: 800px;
        flex: 1;
        padding: 40px;

        h2 {
            color: $primary-color-dark;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 10px;
            padding-left: 0;

            li {
                min-height: 250px;
                background-color: $white;
                @extend %flexColumn;
                justify-content: space-between;
                border-radius: 8px;
                flex-basis: 48%;
                box-shadow: 1px 2px 7px -1px $black;

                &:empty {
                    position: relative;
                    overflow: hidden;
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        animation: shimmer 1.2s infinite;
                        top: 0;
                        left: 0;
                        transform: translateX(-100%);
                        position: absolute;
                        background-image: linear-gradient(to right, transparent, rgba($white, 0.2), transparent);
                    }

                    background-repeat: no-repeat;
                    background-image: linear-gradient(to right, $disabled-background, $disabled-background),
                        linear-gradient(to right, $disabled-background, $disabled-background),
                        linear-gradient(to right, $disabled-background, $disabled-background),
                        linear-gradient(to right, $disabled-background, $disabled-background),
                        linear-gradient(to right, $disabled-background, $disabled-background);
                    background-position:
                        24px 55px,
                        left 0 bottom 0,
                        108px 75px,
                        108px 95px,
                        108px 115px;
                    background-size:
                        60px 100px,
                        100% 40px,
                        150px 16px,
                        160px 16px,
                        170px 16px;
                }

                .surveyContent {
                    border-radius: 8px 8px 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;
                    font-family: sans-serif;

                    background-repeat: no-repeat;
                    background-image: linear-gradient(
                            to right,
                            rgba($primary-color-light, 0.1),
                            rgba($primary-color-light, 0.1)
                        ),
                        linear-gradient(to right, $white, $white);
                    background-size:
                        45px 100%,
                        100% 100%;
                    position: relative;

                    .iconWrapper {
                        position: absolute;
                        top: -4%;
                        right: -4%;
                    }

                    time {
                        @extend %flexColumn;
                        justify-content: center;
                        background-color: $primary-color-light;
                        color: $white;
                        border-radius: 8px;
                        margin-left: 10px;
                        align-items: center;
                        width: 60px;
                        height: 100px;
                        flex-shrink: 0;

                        .day {
                            font-size: 4rem;
                            font-weight: bold;
                        }
                        .month {
                            text-transform: lowercase;
                            margin: 0px 0px 5px;
                        }
                        .year {
                            font-size: 1.6rem;
                        }
                    }
                    section {
                        p {
                            font-size: 1.8rem;
                            color: $black;
                            margin: 15px;
                        }
                    }
                }

                footer {
                    background-color: $primary-color;
                    color: $white;
                    cursor: pointer;
                    text-align: center;
                    line-height: 40px;
                    text-transform: lowercase;
                    border-radius: 0 0 8px 8px;
                    &:hover {
                        background-color: $primary-color-dark;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .surveyListWrap {
        .contentWrap {
            width: max-content;
            ul {
                flex-direction: column;
                li {
                    flex-basis: 100%;
                }
            }
        }
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
