$background: #f2f2f2;
$black: #000;
$disabled-background: #ccc;
$disabled-text: #666;
$primary-color-dark: #560027;
$primary-color-light: #bc477b;
$primary-color: #880e4f;
$white: #fff;
$invalid-color: #f00;
$valid-color: #0f0;